@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


body {
  margin: 0;
  padding: 0;
  color: #2d2d2d;
  background: rgb(238, 238, 238);
  min-height: 100vh;
  font-family: "Playfair Display", serif;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
